@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/JetBrainsMono-Medium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/JetBrainsMono-MediumItalic.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
  }
  